.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  padding: 8px 8px;
  justify-content: space-between;
}

.left-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 64px;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.right-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 64px;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}